:root {
	--bg-color: #323F4E;
	--bg-alt: #323F4E;
	--bg-tab: #43484e;
	--hl-color: #3D4C5F;
	--tx-color: #F8F8F2;
	--tx-alt: #537268;
}


toolbox#navigator-toolbox {
	background-color: var(--bg-color) !important;
}

#nav-bar {
	background-color: var(--bg-alt) !important;
	background-image: none !important;
}

*{ scrollbar-width: none !important }

/* Removes search engine support*/
#urlbar .search-one-offs {
display: none !important;
}

.tabbrowser-tab {
	font-family: Terminus;
	color: var(--tx-alt) !important;
}

.tabbrowser-tab[selected="true"] {
	color: var(--tx-color) !important;
}

.tab-background[selected="true"], #urlbar-container, #urlbar, #nav-bar-overflow-button, #PanelUI-button {
	background-color: var(--bg-alt) !important;
	background-image: none !important;
	border: none !important;
	color: var(--tx-color) !important;
}

tab:not([selected="true"]) {

	background-color: var(--bg-tab) !important;
	background-image: none !important;
	border: none !important;
	color: var(--tx-color) !important;

} 
tab:hover {

background: var(--bg-color) !important;
color: var(--tc-color) !important;

} 

#nav-bar-overflow-button, #PanelUI-button, #identity-box {
	opacity: 0;
	transition: .6s opacity ease;
}

#nav-bar-overflow-button:hover, #PanelUI-button:hover, #identity-box:hover {
	opacity: 1;
}

.tabbrowser-tab[selected=true] {
	border-top-color: var(--hl-color) !important;
}

#urlbar {
	text-align: center;
	opacity: .7;
	font-size: 11px;
	box-shadow: none !important;
	font-family: Terminus;
	color: var(--tx-color) !important;
}

#nav-bar {
	box-shadow: none !important;
}

#urlbar[focused="true"] {
	border-color: none !important;
}

.tab-line[selected=true] {
	background-color: var(--hl-color) !important;
}

.tab-icon-sound {
	opacity: .1 !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border-left: 0px solid !important;
}

#TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]) {
	background-color: rgba(200,255,200,.05) !important;
}

window#main-window toolbox#navigator-toolbox toolbar#TabsToolbar.titlebar-color.customization-target tabs#tabbrowser-tabs {
	background-color: #121B18;
}

.tab-label-container {
	font-size: 12px !important;
}

.tab-icon-image {
	opacity: 0.8 !important;
	filter: grayscale(100%) contrast(50%) !important;
}

#navigator-toolbox::after {
	content: "";
	display: -moz-box;
	border-bottom: none !important;
}

#navigator-toolbox toolbarbutton {
    color: var(--tx-color) !important;
}

#back-button:not(:hover), #back-button:not(:hover) > .toolbarbutton-icon {
	transform: scale(.95,.95) !important; 
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
	}
#back-button:hover, #back-button:hover > .toolbarbutton-icon {
	transform: scale(.95,.95) !important; 
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
	}
	
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide buttons **/
:root:not([customizing]) #nav-bar toolbarbutton {
	margin-left: -30px !important;
	opacity: 0 !important;
	pointer-events: none !important;
	transition: all 100ms var(--animation-easing-function) !important;
}

/* Show on hover or focus */
:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
	margin-left: 0 !important;
	opacity: 1 !important;
	pointer-events: auto !important;
}

/* Don't hide tab buttons */
:root:not([customizing]) :hover > #titlebar #TabsToolbar toolbarbutton {
	margin-left: 0px !important;
	opacity: 1 !important;
	pointer-events: auto !important;
}


/* Hide controls on urlbar focus */
:root:not([customizing]) #navigator-toolbox #nav-bar #urlbar-container:focus-within {
	width: 100% !important;
	position: absolute !important;
	left: 0 !important;
	white-space: nowrap;
}

:root:not([customizing]) #navigator-toolbox #nav-bar #urlbar-container:focus-within #urlbar {
	width: 100% !important;
}


/* Move tabs 35% to rihgt */
#TabsToolbar {
	margin-left: 35vw !important;
}

/* Move navigation 65% to left and negative margin to move to top line */
#nav-bar {
	margin-right: 65vw !important;
	margin-top: -29px !important;
	background: transparent !important;
	z-index: 2;
}

/* Full height url bar without border radius */
#nav-bar {
	min-height: 29px !important;
}
#urlbar {
	border: 0px solid transparent !important;
	border-radius: 0 !important;
	margin: 0 1px 0 0 !important;
	min-height: 29px !important;
}

@media (max-width: 1200px) {
	/* Full size url bar on small screen if url bar is focused */
	#navigator-toolbox #nav-bar:focus-within {
		margin-right: 0vw !important;
		z-index: 2 !important;
		background-attachment: fixed !important;
		background-color: transparent !important;
		background-image: var(--lwt-header-image) !important;
		background-position: right top !important;
		background-repeat: no-repeat !important;
		background-size: auto auto !important;
	}
	/* Buttons leave hidden on hover */
	:root:not([customizing]) :hover > #nav-bar toolbarbutton,
	:root:not([customizing]) :hover > #titlebar toolbarbutton {
		margin-left: -30px !important;
		opacity: 0 !important;
		pointer-events: none !important;
	}
	/* Do not hide buttons on urlbar focus */ 
	:root:not([customizing]) #navigator-toolbox #nav-bar #urlbar-container:focus-within {
		position: static !important;
		width: auto !important;
	}

	/* Hide shadow over url bar */
	.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-start-indicator:not([collapsed]),
	.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-end-indicator:not([collapsed]) {
		background-image: none !important;
	}
}
/* Hide page action buttons */
.urlbar-page-action{
	display:none !important;
}